<h1> Angular Portfolio Items </h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<ul>
    <% @angular_items.each do |angular_item| %>
        <li>
            <%= image_tag angular_item.thumb_image if angular_item.thumb_image?%>
            <p><%=link_to angular_item.title, portfolio_show_path(angular_item)%></p>
            <p><%=angular_item.subtitle%></p>
            <p><%=angular_item.body%></p>
            <%= link_to "Edit", edit_portfolio_path(angular_item) %>
            <%= link_to "Delete Portfolio", portfolio_path(angular_item), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"} %>
        </li>
    <%end%>
</ul>