<nav class="<%= position %>">
    <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Blogs", blogs_path %></li>
    <li><%= link_to "Portfolios", portfolios_path %></li>
    <li><%= link_to "About me", about_me_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    </ul>
</nav>