<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%= render "shared/application_nav" %>
          <%= login_helper%>
          <%= yield %>
          <%= source_helper %>
        </div>
      </div>
    </div>
  </body>
</html>
